.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(250, 237, 213);
  margin-top: 50px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer li {
  display: inline-flex;
}

.footer img {
  transition: transform 0.3s;
}

.footer img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .footer ul {
    flex-direction: column;
    align-items: center;
  }

  .footer li {
    display: block;
    margin-bottom: 10px;
  }
}
